-i https://pypi.org/simple/
alembic==1.5.7
atomicwrites==1.4.0
attrs==20.3.0
click==7.1.2
colorama==0.4.4
docopt==0.6.2
flask-migrate==2.5.2
flask-sqlalchemy==2.5.1
flask==1.1.1
greenlet==1.0.0 ; python_version >= '3'
gunicorn==19.9.0
importlib-metadata==3.7.3 ; python_version < '3.8'
itsdangerous==1.1.0
jinja2==2.11.3
mako==1.1.4
markupsafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest-watch==4.2.0
pytest==5.0.1
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
six==1.15.0
sqlalchemy==1.4.2
typing-extensions==3.7.4.3 ; python_version < '3.8'
watchdog==2.0.2
wcwidth==0.2.5
werkzeug==1.0.1
zipp==3.4.1
